.menu {
  width:95%;
  margin-top:1rem;
  text-align: right;
  a{
    text-decoration: none;
    margin-left:15px;
    color: var(--white);
    cursor:pointer;
    &:hover {
      filter:brightness(0.9)
    }
  }
}
.container {
  margin:0 auto;
  max-width:1024px;
  span {
    text-align: center;
    font-size:1rem;
    margin-bottom:5px;
  }
  margin-top:2rem;
}
.selectBoxContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  .selectBox {
    width:16%;
    margin:0px 1rem;
  }
}