.menu {
  width:95%;
  margin-top:1rem;
  text-align: right;
  a{
    text-decoration: none;
    margin-left:15px;
    color: var(--white);
    cursor:pointer;
    &:hover {
      filter:brightness(0.9)
    }
  }
  button{
    background-color: transparent;
    text-decoration: none;
    outline: 0;
    border: 0;
    cursor:pointer;
    &:hover {
      filter:brightness(0.9)
    }
    svg {
      color:var(--white);
      width:2.0rem;
      height:2.0rem;
    }
  }
}
.homeScreen {
  width:100%;
  .container {
    margin:0 auto;
    max-width:1024px;
    
    span {
      text-align: center;
      font-size:1rem;
      margin-bottom:5px;
    }
    margin-top:2rem;
  }
  .selectBoxContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    .selectBox {
      width:18%;
      margin:0px 1rem;
    }
  }
  .savedMovies {
    text-align: center;
    margin:10rem 0;
    a {
      text-decoration: none;
    }
  }
  .search {
    width:50%;
    margin:0 auto;
  }
  .searchMovies {
    height:500px;
    .undraw {
      margin-top:3rem;
      text-align:center;
      width:100%;
      img {
        width:463,5px;
        height:320px;
      }
    }
  }
}

@media screen and (max-width:780px) {
  .container {
    width:100%;
  }
  .selectBoxContainer{ 
    select {
      width:30% !important;
    }    
  }
  .menu {
    button {
      svg {
        width:3rem;
        height:3rem;
      }
    }
  }
}

@media screen and (max-width:500px) {
  .selectBoxContainer{ 
    select {
      width:45% !important;
    }
  }
  .menu {
    button {
      svg {
        width:3.5rem;
        height:3.5rem;
      }
    }
  }
}
